@CHARSET "UTF-8";
#message{
	background-image: url("../images/forgetpassword.jpg");
	background-position: right;
	padding-top: 300px;
	background-repeat: no-repeat;
	margin-top:30px;
	width: 100%;
	margin-left: 10%;
}
#find div strong{
	font-style: italic;
	width: 50px;
}
#find{
	margin-top: -20px;
	margin-left: 10%;
}
input {
	line-height: 20px;
	background-color: #F0F0F0;
}
#find div{
	margin-bottom: 20px;
	background-color: #F0F0F0;
	width: 80%;
	line-height: 50px;
}
#account,#phone,#address,#name{
	display: none;
}
